*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.container{
    width: 30%;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.front{
    background-image: url(../images/download\ \(16\).jpeg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: end;
    color: white;  
}
.front,.back{
    height: 600px;
    display: flex;  
    border-radius: 10px;
    backface-visibility: hidden;

}
.inner{
    position: relative;
    margin: 5% 0%;
    transform-style: preserve-3d;
    transition: 2s;
}
.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.back{
    background-color: antiquewhite;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 5%;
    position: absolute;
    top: 0%;
    width: 100%;
    transform: rotateY(180deg);

}
.body h2 ,.back h2{
    width: 50%;
}
.arrow-div{
    border: 2px solid teal;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 3%;
    display: flex; 
    color: teal;
}
.body .fa-arrow-up{
    transform: rotate(45deg);  
}
.back .fa-arrow-up{
    transform: rotate(90deg);
}
.back p{
    color: gray;
    line-height: 1.5;
    padding: 10% 0%;
}
.link{
    align-self: self-end;
    display: flex;
    align-items: center;
   padding: 2%;
    gap: 10%;
    color: teal;
}
.flip-card:hover .inner{
    transform: rotateY(180deg);
}

